{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="my-4">借りられる商品一覧</h2>
    <ul class="list-group">
    {% for item in items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                {{ item.item_name }} -
                <span class="badge badge-secondary">{{ item.category }}</span>
                <span class="badge badge-primary">{{ item.mount }}</span>
            </span>

            <!-- 借りるボタンを追加 -->
            <form action="{% url 'borrow_item' item.id %}" method="post" class="ml-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">借りる</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
